hr {
  border-top: 1px solid #757575;
  margin: 0 20px;
}

.button {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: white;
  transition: 0.3s;
}

.button:hover {
  text-shadow: 2px 2px 10px white;
}

.openButton {
  transform: scale(-1, 1);
}

.closeButton {
  top: 0;
  right: 35px;
}

.settingsMenu {
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  background: rgba(64, 70, 84, 1);
  padding-top: 30px;
  transition: 0.5s;
  color: #757575;
  font-family: Consolas, monaco, monospace;
}

label {
  font-size: 35px;
  color: white;
}

label.title {
  text-align: center;
  font-size: xx-large;
}

label.info {
  text-align: center;
  font-size: large;
}

label.heading {
  padding: 1em 0 0 0;
  display: block;
}

label.dateField {
  padding: 1em 0;
  display: block;
}

input {
  font-size: 28px;
}

input.dayInput {
  margin-left: 0.25em;
  width: 45px;
}

input.monthInput {
  width: 45px;
}

input.yearInput {
  width: 80px;
}

div.variable {
  font-size: large;
}

div.separator {
  padding-top: 20px;
}

span.variableName {
  width: 30%;
  display: inline-block;
}

span.variableInput {
  width: 50%;
  display: inline-block;
}

span.variableDropdown {
  width: 70%;
  display: inline-block;
  text-align: left;
}

select {
  width: 90%;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  border-radius: 4px;
  margin: 0 1em;
  width: 85%;
  height: 2em;
}

span.variableValue {
  width: 20%;
  display: inline-block;
}

button.save {
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background-color: #282c34;
  border: 0;
  border-radius: 4px;
  margin: 0 1em;
  width: 60%;
  height: 50px;
}

button.save:hover {
  background-color: white;
  color: black;
}
